<header class="bg-slate-900 text-gray-900 p-4 flex justify-between items-center shadow-md">
  <div class="w-1/2">
    <app-search-bar [(search)]="search"></app-search-bar>
  </div>

  <div class="flex items-center gap-4">
    <button
      routerLink="/add-product"
      *ngIf="isAdmin && isAuthenticated"
      class="bg-green-600 text-white px-3 py-1 rounded-lg hover:bg-green-500 transition"
    >
      + Ajouter un produit
    </button>

    <button
      routerLink="/cart"
      class="bg-slate-700 text-white px-3 py-1 rounded-lg hover:bg-slate-600 transition"
    >
      Cart
    </button>

    <button
      *ngIf="!isAuthenticated; else logoutBtn"
      (click)="login()"
      class="bg-blue-600 text-white px-3 py-1 rounded-lg hover:bg-blue-500 transition"
    >
      Se connecter
    </button>

    <ng-template #logoutBtn>
      <button
        (click)="logout()"
        class="bg-red-600 text-white px-3 py-1 rounded-lg hover:bg-red-500 transition"
      >
        Se déconnecter ({{ username }})
      </button>
    </ng-template>
  </div>
</header>

<main class="p-6 bg-gray-100 min-h-screen">
  @if (isAuthenticated) { @if (filteredProducts().length > 0) {
  <div class="mb-4 text-gray-600 text-sm">
    Found <span class="font-semibold">{{ filteredProducts().length }}</span> products
  </div>

  <div id="product-list" class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    @for (product of filteredProducts(); track product) {
    <app-product-card [product]="product" [(cart)]="cart" />
    }
  </div>
  } @else {
  <div class="text-center text-gray-500 mt-12">No products found 😢</div>
  } }@else {
  <div class="text-center text-gray-500 mt-12">
    <a href="#" (click)="login()" class="text-blue-600 hover:underline"> Log in </a>
    to view products
  </div>
  }
</main>
